In [1]:
import pandas as pd

In [2]:
matt_metadata_ori = pd.read_csv("220614_ictcf_data.csv")

In [20]:
matt_metadata_ori

,Patient,Age,Gender,Body temperature,Underlying diseases,SARS-CoV-2 nucleic acids,CT,Morbidity,Mortality,Blood test,...,ASO,LPS,UALB,RF,LAC,WBCC,Cohort,image,mask,Mobidity types
0,Patient 1,81.0,Male,36.6,"Hypertension, Thyroidectomy",Positive,Positive,Regular,Cured,Routine Blood Test,...,NaN,NaN,NaN,NaN,NaN,NaN,1,ictcf_dicom/ct_dicom/CT_DICOM1/Patient 1/CT,ictcf_dicom/lung_masks/Patient_1.npy,1
1,Patient 2,50.0,Male,38.7,No,Positive,Positive,Regular,Cured,Routine Blood Test,...,NaN,NaN,NaN,NaN,NaN,NaN,1,ictcf_dicom/ct_dicom/CT_DICOM1/Patient 2/CT,ictcf_dicom/lung_masks/Patient_2.npy,1
2,Patient 3,65.0,Female,38.5,Postoperative cervical cancer,Positive,Positive,Regular,Cured,Routine Blood Test,...,NaN,NaN,NaN,NaN,NaN,NaN,1,ictcf_dicom/ct_dicom/CT_DICOM1/Patient 3/CT,ictcf_dicom/lung_masks/Patient_3.npy,1
3,Patient 4,73.0,Male,38.5,Aorta calcification,Positive,Positive,Severe,Cured,Routine Blood Test,...,NaN,NaN,NaN,NaN,NaN,NaN,1,ictcf_dicom/ct_dicom/CT_DICOM1/Patient 4/CT,ictcf_dicom/lung_masks/Patient_4.npy,2
4,Patient 5,64.0,Female,38.0,No,Positive,Positive,Severe,Cured,Routine Blood Test,...,NaN,NaN,NaN,NaN,NaN,NaN,1,ictcf_dicom/ct_dicom/CT_DICOM1/Patient 5/CT,ictcf_dicom/lung_masks/Patient_5.npy,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1516,Patient 1517,45.0,Female,38.9,"Fatty liver, Hepatitis B",Positive,Positive,Regular,Unknown,Routine Blood Test,...,NaN,NaN,NaN,NaN,NaN,NaN,2,ictcf_dicom/ct_dicom/CT_DICOM2/Patient 1517/CT,ictcf_dicom/lung_masks/Patient_1517.npy,1
1517,Patient 1518,66.0,Female,36.6,No,Positive,Positive,Regular,Unknown,Routine Blood Test,...,NaN,NaN,NaN,NaN,NaN,NaN,2,ictcf_dicom/ct_dicom/CT_DICOM2/Patient 1518/CT,ictcf_dicom/lung_masks/Patient_1518.npy,1
1518,Patient 1519,71.0,Female,36.6,"Hypertension, Atrial fibrillation",Positive,Positive,Regular,Cured,Routine Blood Test,...,NaN,NaN,NaN,NaN,NaN,NaN,2,ictcf_dicom/ct_dicom/CT_DICOM2/Patient 1519/CT,ictcf_dicom/lung_masks/Patient_1519.npy,1
1519,Patient 1520,66.0,Female,36.6,No,Positive,Positive,Regular,Cured,Routine Blood Test,...,NaN,NaN,NaN,NaN,NaN,NaN,2,ictcf_dicom/ct_dicom/CT_DICOM2/Patient 1520/CT,ictcf_dicom/lung_masks/Patient_1520.npy,1
1520,Patient 1521,64.0,Female,36.6,"Hypertension, Coronary atherosclerotic heart d...",Positive,Positive,Regular,Cured,Routine Blood Test,...,NaN,NaN,NaN,NaN,NaN,NaN,2,ictcf_dicom/ct_dicom/CT_DICOM2/Patient 1521/CT,ictcf_dicom/lung_masks/Patient_1521.npy,1

In [46]:
matt_metadata_ori.shape

(1521, 134)

In [23]:
matt_features = list(matt_metadata_ori.columns[1:5]) + list(matt_metadata_ori.columns[10:-4])

In [24]:
len(matt_features)

124

In [25]:
hust19_sample_metadata = pd.read_csv("Normalized_Demo_Patient_324_CF.txt", sep="\t")

In [26]:
hust19_sample_metadata

,Patient,Age,Gender,Body temperature,Underlying diseases,Mean corpuscular hemoglobin concentration,Mean corpuscular hemoglobin,Mean corpuscular volume,Hematocrit,Hemoglobin,...,Fungi (1-3)-β-D-glucan,Lipase,Urea,Urinary albumin,Blood coagulation factor VIII activity,Anti-streptolysin O,Plasma protein S activity,Rheumatoid factor,Plasma protein C activity,Lactic acid
0,Abbreviation,NaN,F/M,°C,Udis,MCHC,MCH,MCV,HCT,HGB,...,FDG,LPS,U,UALB,BCF8,ASO,PS,RF,PC,LAC
1,Normal range,NaN,F/M,≤37.2°C,No,316-354 g/L,27-34 pg,82-100 fl,40-50 %,130-175 g/L,...,<100.5 pg/ml,13.00-60.00 U/L,3.1-8.80 mmol/L,0-20 mg/L,70.0-150.0 %,0-200.00 IU/ml,60.00-120.00 %,0-30.00 IU/ml,70.00-140.00 %,1.33-1.78 mmol/L
2,Patient 324,34.0,1,1.029569892473118,0,0.0,-0.27142857142857124,-0.14444444444444413,-0.8100000000000002,-0.6444444444444445,...,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5,0.5

In [39]:
hust19_features = list(hust19_sample_metadata.columns[1:5]) + list(hust19_sample_metadata.iloc[0, 5:])

In [40]:
len(hust19_features)

127

In [41]:
set(matt_features) - set(hust19_features)

{'AT3'}

In [42]:
set(hust19_features) - set(matt_features)
# matt_metadata dropped 3 features: BCF8, PC, PS -> Why?
# Can we retrieve it back?

{'AT-III', 'BCF8', 'PC', 'PS'}

In [58]:
# Are there any columns in matt_metadata that are filled with NaNs in all rows?
for k, v in matt_metadata.isnull().all().to_dict().items():
    if v == True:
        print(k)
# Nope!

In [77]:
# Which columns are filled with 0.5 in hust19_sample_metadata?
unk_cols = []
abbrevs = list(hust19_sample_metadata.iloc[0])
for i, (k, v) in enumerate(hust19_sample_metadata.iloc[2].to_dict().items()):
    if v == '0.5':
        print("Name:", k, "-- Abbrev:", abbrevs[i])
        unk_cols.append(abbrevs[i])

Name: Platelet distribution width -- Abbrev: PDW
Name: Plateletcrit -- Abbrev: PLCT
Name: Platelet larger cell ratio -- Abbrev: PLCR
Name: 5'nucleotidase -- Abbrev: 5NT
Name: Choline esterase -- Abbrev: CHE
Name: Sialic acid -- Abbrev: SA
Name: Complement C1q -- Abbrev: C1q
Name: Complement C3 -- Abbrev: C3
Name: α-L-Fucosidase -- Abbrev: AFU
Name: Lipoprotein A -- Abbrev: LPA
Name: Apolipoprotein A1 -- Abbrev: APOA1
Name: B-type brain natriuretic peptide precursor -- Abbrev: BNP
Name: Immunoglobulin M -- Abbrev: IGM
Name: Immunoglobulin A -- Abbrev: IGA
Name: Immunoglobulin G -- Abbrev: IGG
Name: Fibrin/fibrinogen degradation products -- Abbrev: FDP
Name: Complement C4 -- Abbrev: C4
Name: Apolipoprotein B -- Abbrev: APOB
Name: High-sensitivity C-reactive protein -- Abbrev: HSCRP
Name: Red blood cell count -- Abbrev: URBC
Name: White blood cell count -- Abbrev: UWBC
Name: Leukocyte mass -- Abbrev: WBCC
Name: Squamous epithelial cell -- Abbrev: SQEP
Name: Non-squamous epithelial cell -- Abbrev: NSEC
Name: Hyaline cast -- Abbrev: HYAL
Name: Pathological cast -- Abbrev: UNCC
Name: Yeast -- Abbrev: BYST
Name: Viscose rayon -- Abbrev: MS-U
Name: Unclassified crystal -- Abbrev: UNCX
Name: Specific gravity -- Abbrev: SG
Name: pH -- Abbrev: PH
Name: Bacterial count -- Abbrev: BACT
Name: Indirect bilirubin -- Abbrev: IBIL
Name: Antithrombin III -- Abbrev: AT-III
Name: Fungi (1-3)-β-D-glucan -- Abbrev: FDG
Name: Lipase -- Abbrev: LPS
Name: Urea -- Abbrev: U
Name: Urinary albumin -- Abbrev: UALB
Name: Blood coagulation factor VIII activity -- Abbrev: BCF8
Name: Anti-streptolysin O -- Abbrev: ASO
Name: Plasma protein S activity -- Abbrev: PS
Name: Rheumatoid factor -- Abbrev: RF
Name: Plasma protein C activity -- Abbrev: PC
Name: Lactic acid -- Abbrev: LAC

In [84]:
len(unk_cols)

44

In [78]:
### How many columns in matt_metadata are mostly filled with NaNs?
nan_cols = []
for i, (k,v) in enumerate(matt_metadata.iloc[0].isna().to_dict().items()):
    if v == True:
        print(k)
        nan_cols.append(k)

FDP
AT3
BNP
IBIL
FDG
U
HSCRP
URBC
NSEC
UNCX
CHE
SA
AFU
LPA
APOA1
APOB
C1q
UWBC
SQEP
MS-U
SG
PH
HYAL
UNCC
BACT
C3
IGM
IGA
IGG
C4
BYST
ASO
LPS
UALB
RF
LAC
WBCC

In [85]:
len(nan_cols)

37

In [79]:
set(unk_cols) - set(nan_cols)

{'5NT', 'AT-III', 'BCF8', 'PC', 'PDW', 'PLCR', 'PLCT', 'PS'}

In [80]:
set(nan_cols) - set(unk_cols)

{'AT3'}

In [83]:
len(set(unk_cols).intersection(set(nan_cols)))

36

## Preprocess matt_metadata_ori

In [ ]:
matt_metadata = matt